<h1 class="heading wow">Enter your Information</h1>
    <%= simple_form_for @user, :url => user_registration_path do |f| %>
    <%= f.input :email, label: 'Your email', error: 'Email is mandatory!' %>
    <%= f.input :password, label: 'Enter a Password', error: 'Password is mandatory!' %>
    <%= f.input :name, label: 'Your First and last name separated by a space', error: 'Name is mandatory!' %>
    <%= f.input :zipcode, label: "Your zipcode", error: "Zipcode is mandatory!" %>
    <%= f.button :submit %>
    <% end %>